

@@import url(https://fonts.googleapis.com/earlyaccess/amiri.css);


  *{
 font-family: 'Amiri', serif; 
box-sizing: border-box;
}
body{
    background-color: rgb(234, 228, 219);
}
center{
    align-items: center;
    margin-top:10px ;
    text-align: center;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
  color: rgb(234, 181, 49);
  font-weight: bolder;
 
    margin-top: 30%;

}
h2 span{
    color: green;

        font-weight: bolder;
    font-size: x-large;
}
h1{
    margin-top:10px ;
    text-align: center;
    margin: 10%;
   
}
a{
    text-decoration: none;
    text-align: center;
}
.info h5{
    margin-left: 10px;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    font-weight: bolder;
    font-size: 150%;
}
.info h4{
    margin-left: 20px;
    color: rgb(0, 0, 0);
     margin-top: 12px;
    font-size: 150%;
    font-weight: bolder;
}
.head img{
    margin-top:100px;
    width: 100px;
    margin-bottom: -8%;
}
.jif{
    display: flex;
    align-items: center;
    justify-content: center;
}
.jif img{
    width: 100px;
    height: 100px;
}
h1 span{
    font-size: 50px;
   
}
.p1{ 
border-radius: 8%;
margin-bottom: 10%;
background-color: white;
}
img{
width:  70%;
}
div{
    text-align: center;
}
span{
    color: rgb(250, 192, 0);
    font-size: 18px;
}
.tit{
    font-size: 20px;
    color: white;
    font-weight: bolder;
    background-color: gold;
    border-radius: 31px;
    width: 80%;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
}
.info{
    background-color: rgb(138, 245, 138);
    padding: 10px;
  width: 80%;
  border: solid rgb(255, 243, 151) ;
  border-radius: 20px;
  margin-bottom: 5%;
}
.not{
    font-weight: bold;
color: rgb(102, 102, 102);
}

.pr{
    background-color: rgb(255, 167, 59);
    height: 8px;
    margin: 5%;
}
.type{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 15px;
}
.type h6{
    color: #ffffff;
    background-color: black;
    font-size: 150%;
    border-radius:15px ;
    text-align: center;
    padding: 10px;
        font-weight: bolder;
}







footer {
    background-color: #504b4b;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
    margin: 10px 5px;
}
footer h5{
    margin-left: 10px;
    color: rgb(250, 250, 250);
   
        margin-top: 10px;
}
footer img  ,.info  img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
footer  h4{
    color: white;
   
        font-weight: bolder;
}
.non h6{
    margin-right: 60%;
    color: rgb(255, 255, 255);
    border: solid black;
    padding: 3px ;
    background-color: #ff0000;
    border-radius: 200px;
    margin-bottom: 10%; 
    margin-left: 10px;
    position: relative;
    font-weight: bolder;
   }
.non{
     margin-bottom: -30%;
     background-color: rgb(255, 0, 0);
     border-radius: 10px;
     border: rgb(255, 255, 255) solid;
     
}
